html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100vh;
}

.parallax {
    background-image: url('covid.svg');
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container_cardProduct {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.titleshow {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Bungee Inline', cursive;
}

.fournisseurshow {
    font-family: 'Bree Serif', serif;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.carousel_size {
    width: 12%;
    margin: auto;
}

.bg-navbar {
    background-color: #E0C876;
}

.container_page {
    width: 100%;
    height: 100%;
}

.container_image {
    height: 500px;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    background: url('gels.png');
    border-radius: 3px;
    box-shadow: 4px 4px 6px #aaa;
}

.contenu_page {
    width: 100%;
}

#main_title {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Bungee Inline', cursive;
}

#main_hr {
    margin: 0;
    padding: 0;
    color: black;
}

#carouselExampleControls {
    margin-top: 3rem !important;
}

.contenu_etudiant {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.etudiant_wrapper {
    overflow: hidden;
}

#text_etudiant {
    width: 850px;
    height: 300px;
}

#logo_etudiant {
    width: 300px;
    height: 300px;
}

#img_etudiant {
    width: 100%;
}

.container_article {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(248, 248, 248);
}

.container_tuto {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fdeaa5;
    border-radius: 4px;
    font-family: 'Bellota', cursive;
    box-shadow: 6px 6px 8px #aaa;
}

.small_titles {
    font-size: 1.45em;
}

.size {
    font-size: 1.2em;
}

#fournisseur {
    font-family: 'Bree Serif', serif;
    margin-top: 200px;
    margin-bottom: 160px;
    text-align: center;
}

.contenu_produits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produit_unique {
    background-color: red;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px #aaa;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.contenu_partenaire {
    width: 80%;
    margin: 80px auto auto auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partenaire_unique {
    width: 550px;
    height: 250px;
}

#partenaire_wrapper {
    width: 550px;
    height: 250px;
    overflow: hidden;
}

#logo_partenaire {
    width: 100%;
}

hr {
    width: 20%;
}

p {
    margin: 0;
}

.container_content {
    background-color: rgb(248, 248, 248);
    height: auto;
    padding-top: 100px;
    padding-bottom: 80px;
}

textarea {
    min-height: 200px;
}

#produit1 {
    background: url('../Aloevera.jpg') no-repeat center;
    background-size: cover!important;
}

#produit2 {
    background: url('../huilevegetale.jpg') no-repeat center;
    background-size: cover!important;
}
#produit3 {
    background: url('../teatree.jpg') no-repeat center;
    background-size: cover!important;
}

#produit4 {
    background: url('../lavande.jpg') no-repeat center;
    background-size: cover!important;
}

#produit5 {
    background: url('../alcool.jpg') no-repeat center;
    background-size: cover!important;
}

.featurette {
    margin-bottom: 50px;
}

.container_show {
    padding: 20px;
}